@import "tailwindcss";

@theme {
    --color-primary: #3617cf;
    --color-background-light: #ffffff;
    --color-background-dark: #fcfcfc;

    --font-display: "Inter", sans-serif;

    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
}

@variant dark (&:where(.dark, .dark *));